body[theme="dark"] {
  background-color: black;
  color: white;
}

body[theme="dark"] .trinity {
  color: #bdbdbd;
}

body[theme="dark"] .trinity:hover {
  color: #e7e7e7;
}

body[theme="dark"] .theme-button {
  background-color: transparent;
}