body[theme="dark"] {
    background-color: #000;
    color: white;
  }
  
  body[theme="dark"] a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.12s ease-out;
  }
  
  body[theme="dark"] .trinity {
    color: #a0a0a0;
  }
  
  body[theme="dark"] .trinity:hover {
    color: #c2c2c2;
  }